#contenedor{
      position:absolute;
       overflow:scroll;
       height:90%;
       width:70%;
       top:50%;

       align: center;
  }
}

#tablamensajes{
background:  #white;
height:70%;
width:100%;

}
#iniciar{
   background:  #bbe2f9;
   font-size: 40px;
   width: 100%;
}
#contenedor{
  width:100%;
    border: 1px solid;

}


#usuario{

  background:lightblue;
  width: 150px;
}
